h2 {
	color: #fff;
}

.hireUs-main {
	background-image: url('../images/black-city-map.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 108rem;
}

.help-you {
	color: #fff;
	padding-top: 15%;
}

.bussDev {
	margin-top: 10%;
}

.bussDev p {
	color: red;
	font-size: 1.3em;
	padding-top: 5%;
}

.careers{
	margin-top: 10%;
}

.careers p {
	color: red;
	font-size: 1.3em;
	padding-top: 5%;
}

.press {
	margin-top: 10%;
}

.press p {
	color: red;
	font-size: 1.3em;
	padding-top: 5%;
}
