.project1 {
	margin-top: 5%;
	padding-right: 10%;
	margin-bottom: 1%;
}

.project1-picture {
	background-image: url('../images/project-pic.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

.celebrated1 {
	margin-top: 1%;
}

.challenge1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.challenge1 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.insight1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.insight1 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.idea1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.idea1 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.result1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.result1 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}