.project3 {
	margin-top: 5%;
	padding-right: 10%;
	margin-bottom: 1%;
}

.project3-picture {
	background-image: url('../images/project-pic.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

.celebrated3 {
	margin-top: 1%;
}

.challenge3 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.challenge3 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.insight3 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.insight3 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.idea3 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.idea3 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.result3 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.result3 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}