.project2 {
	margin-top: 5%;
	padding-right: 10%;
	margin-bottom: 1%;
}

.project2-picture {
	background-image: url('../images/project-pic.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

.celebrated2 {
	margin-top: 1%;
}

.challenge2 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.challenge2 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.insight2 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.insight2 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.idea2 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.idea2 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}

.result2 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.result2 h3 {
	font-weight: bold;
	padding-bottom: 5%;
}