.best-in h1 {
	margin-top: 50%;
	margin-bottom: 20%;
}

.para-contain {
	position: relative;
	height: 50rem;
	overflow: scroll;
}

.para-scroll {
	top: 0;
	position: absolute;
	/*background-color: blue;*/
	width: 50%;
	height: 100rem;
	overflow: hidden;
}

.para-contain::-webkit-scrollbar {
	overflow: hidden;
}

.para-scroll h3 {
	/*position: fixed;*/
	padding-left: 50%;
	font-weight: bold;
}

.para-scroll h3:nth-child(2) {
	margin-top: 24%;
}

.para-scroll h3:nth-child(3) {
	margin-top: 26%;
}

.text-red {
	color: red;
}

.caset {
	padding-top: 10%;
	position: relative;
}

.caset img {
	transform: rotate(-36deg);
	padding-left: 7%;
	padding-top: 18%;
	width: 30%;
	z-index: 1;
	position: absolute;
}

.cut-div {
	position: absolute;
	top:52.6%;
	left: 37%;
	background-color: lightblue;
	width: 30%;
	height: 47.5%;
	-webkit-transform: skew(40deg);
}

.overlay-div {
	background-color: lightblue;
	height: 400px;
	margin-top: 18%;
	width: 50%;
	margin-left: 51%;
}

.overlay-div p {
	position: absolute;
	top: 70%;
	left: 75%;
	display: none;
	font-size: 1.5em;
	font-weight: bold;
}