.country {
	background-image: url("../images/PochetnaPrvaSlika.jpg");
	background-position: center;
	background-size: cover;
	height: 90rem;
}

.navbar-right {
	padding-right: 70px;
}

nav {
	padding-top: .5%;
	padding-bottom: .5%;
}

.nav>li>a {
	font-size: 24px;
	margin-left: 10px;
	color: #fff;
	border-radius: 20%;
}

.nav>li>a:hover {
	background-color: red;
	color: #fff;
}

.navbar-brand {
	font-size: 24px;
	padding-top: 15%;
	color: #fff;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}


		/*On scroll*/

.shrink {
	background-color: #fff;
}

.black-a {
	color: black;
}

		/*End of scroll*/

.country-text {
	color: #fff;
	margin-top: 15%;
	position: relative;
}

.country-text h4 {
	padding-top: 5%;
	padding-bottom: 2%;
}

.country-text span {
	padding-left: 15px;
	padding-right: 15px;
}

.left-line {
	position: absolute;
	width: 2%;
	border: 2px solid #fff;
	top: 114px;
	left: 103px;
}

.right-line {
	position: absolute;
	width: 2%;
	border: 2px solid #fff;
	top: 114px;
	left: 191px;
}

.country-text button {
	border-radius: 0;
	background-color: transparent;
	border:1px solid #fff;
	font-size: 20px;
	margin-top: 50px;
}

.country-text button:hover {
	color: #fff;
}

.country-picture img {
	position: relative;
	width: 100rem;
	top: 37em;
	left: 6em;
}

.service-row {
	margin-top: 10%;
}

.service-left {
	padding-right: 15%;
}

.service-left h1 span {
	color: red;
}

.service-right {
	text-align: justify;
	font-size: 18px;
	padding-left: 5%;
}

.service-right button {
	border-radius: 0;
	font-size: 20px;
	background-color: red;
	color: #fff;
	margin-top: 3%;
	padding:10px 25px;
	font-weight: bold;
}

.specific {
	margin-top: 10%;
}

.country-specific {
	position: relative;
	border-right: 1px solid lightgray;
	padding: 8% 5%;
	margin-left: 10%;
}

.country-specific h3 {
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 22%;
}

.specific-picture {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #fff;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-image:url(../images/Hireus.jpg);
}

.specific-picture p {
	padding-left: 19%;
	padding-right: 20%;
}

.specific-picture h3 {
	padding-bottom: 7%;
	padding-top: 30%;
	padding-left: 19%;
	padding-right: 10%;
}

.marker {
	position: absolute;
	top: 10%;
	left: 94px;
	color: red;
}

.country-specific:hover .specific-picture {
	display: block;
	opacity: 1;
}

/*Second hover*/

.in-market {
	position: relative;
	border-right: 1px solid lightgray;
	padding: 6.64% 5%;
}

.in-market h3 {
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 22%;
}

.market-picture {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #fff;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-image:url(../images/Hireus.jpg);
}

.market-picture p {
	padding-left: 19%;
	padding-right: 20%;
}

.market-picture h3 {
	padding-bottom: 7%;
	padding-top: 30%;
	padding-left: 19%;
	padding-right: 10%;
}

.marker {
	position: absolute;
	top: 10%;
	left: 94px;
	color: red;
}

.in-market:hover .market-picture {
	display: block;
	opacity: 1;
}

/*Third hover*/

.localised {
	position: relative;
	border-right: 1px solid lightgray;
	padding: 7.35% 5%;
}

.localised h3 {
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 22%;
}

.localised-picture {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 18px;
	color: #fff;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-image:url(../images/Hireus.jpg);
}

.localised-picture p {
	padding-left: 19%;
	padding-right: 20%;
}

.localised-picture h3 {
	padding-bottom: 7%;
	padding-top: 30%;
	padding-left: 19%;
	padding-right: 10%;
}

.marker {
	position: absolute;
	top: 10%;
	left: 94px;
	color: red;
}

.localised:hover .localised-picture {
	display: block;
	opacity: 1;
}

.picture-roll {
	position: relative;
	margin-top: 5%;
	height: 60rem;
	overflow: scroll;
}

.picture-roll::-webkit-scrollbar {
	overflow: hidden;
}

#scroll-pic {
	position: absolute;
	width: 98%;
	height: 100rem;
	overflow: hidden;
}

#scroll-pic img {
	width: 100%;
	height: 100%;
}

.pixel-parcels {
	position: relative;
	margin-left: 5%;
	margin-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.pixel-parcels h1 {
	line-height: 1.6;
}

.pixel-parcels p {
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 18px;
}

.pixel-parcels i {
	padding-left: 10px;
}

.pixel-parcels hr {
	position: absolute;
	border: 1px solid red;
	width: 50%;
	top: 36rem;
	left: 27rem;
}

#scroll-up {
	position: absolute;
	top: 22rem;
	left: 0;
}

#scroll-down {
	position: absolute;
	top: 36rem;
	left: 0;
}

.exp-row {
	margin-top: 5%;
}

.experience-left {
	padding-left: 5%;
	padding-right: 5%;
	border-left: 1px solid lightgray;
}

.experience-left h1 {
	padding-top: 20rem;
	padding-bottom: 20rem;
	line-height: 1.6;
}

.numbers {
	background-color: lightblue;
	padding-top: 5%;
}

.numbers h1 {
	color: red;
	padding-bottom: 65%;
}

.experience-right {
	background-color: lightblue;
	padding-top: 5%;
}

.experience-right h1 {
	margin-top: 2%;
}

.experience-right p {
	padding-bottom: 10.2%;
}

.expansion {
	background-image: url("../images/footer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 65rem;
	margin-top: 3%;
	margin-bottom: 3%;
}

.expansion h1 {
	padding-top: 22%;
	color: #fff;
	padding-bottom: 3%;
}

.join button {
	padding: 15px 50px;
	border-radius: 0;
}

.hire button {
	padding: 15px 50px;
	border-radius: 0;
	background-color: red;
	color: #fff;
}

.map {
	margin-bottom: 3%;
}

.map i {
	padding-right: 1%;
	color: red;
}

.clock-row {
	padding-bottom: 5%;
}

