.team-back {
	background-image: url("../images/TeamPrva.jpg");
	background-position: center;
	background-size: cover;
	height: 60rem;
	color: #fff;
}

.team-back h2 {
	padding-top: 25%;
}

.team-back ul {
	list-style: none;
}

.team-back a {
	text-decoration: none;
}

.worker-row {
	margin-top: 3%;
}

.worker1 img {
	width: 100%;
}

.worker1 p {
	color: red;
}

.worker2 img {
	width: 100%;
}

.worker2 p {
	color: red;
}

.worker3 img {
	width: 100%;
}

.worker3 p {
	color: red;
}

.values h3 {
	padding-top: 25%;
}

.brave-row {
	margin-top: 3%;
}

.brave h3 {
	color: red;
}

.empathetic {
	position: relative;
	border-top: 1px solid lightgray;
}

.empathetic h3 {
	padding: 2% 0;
}

.empathetic i {
	position: absolute;
	right: .5rem;
	top: 2.5rem;
}

.empathetic p {
	display: none;
}

.accountable {
	position: relative;
	border-top: 1px solid lightgray;
}

.accountable h3 {
	padding: 2% 0;
}

.accountable i {
	position: absolute;
	right: .5rem;
	top: 2.5rem;
}

.accountable p {
	display: none;
}

.focused {
	position: relative;
	border-top: 1px solid lightgray;
}

.focused h3 {
	padding: 2% 0;
}

.focused i {
	position: absolute;
	right: .5rem;
	top: 2.5rem;
}

.focused p {
	display: none;
}