.main {
	background-image: url("../images/Work1-CelaStrana.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 70rem;
	max-width: 100%;
	text-align: center;
	padding-left: 1%;
}


#myCarousel {
  margin-top: 10%; 
}

.carousel-inner .item > a > img {
  display: block; 
  margin: 0 auto;
  width: 100%;
  height: 600px;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px;   
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}